.item {
    width: 100vw;
    height: 100vh;
}

.item:nth-child(1) {
    background-color: red;
}

.item:nth-child(2) {
    background-color: green;
    position: sticky;
    top: 500px;
    left: 0;
    z-index: 1;
}

.item:nth-child(3) {
    background-color: blue;
    position: sticky;
    top: 500px;
    left: 0;
    z-index: 2;
}

.item:nth-child(5) {
    background: #000;
    top: 500px;
    left: 0;
    z-index: 4;
}

