<div class="container p-4">
  <div class="accordion mb-3 border-0 rounded-0" [id]="faq().id">
    <div class="accordion-item bg-dark border-0 rounded-0">
      <h2 (click)="onClick()" class="accordion-header text-white p-3 rounded-0">
        <button class="accordion-button bg-dark collapsed border-0 fs-4 text-white d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          {{ faq().question }}
          @if(!open) {
            <i class="fa-solid fa-plus icon-toggle"></i>
          } @else {
            <i class="fa-solid fa-xmark icon-toggle"></i>
          }
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" [attr.data-bs-parent]="'#'+faq().id">
        <div class="accordion-body text-white">
          @for(ans of faq().answers; track $index) {
            <p>{{ ans }}</p>
          }
        </div>
      </div>
    </div>
  </div>
</div>