<div class="deco">
    <svg width="1438" height="195" viewBox="0 0 1438 195" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M728.5 0.999996C328 -6.5 0 74 0 74V189.5H1438.5V74C1438.5 74 1129 8.5 728.5 0.999996Z" fill="url(#paint0_linear_2_4)"/>
        <path d="M728.5 6.49331C328 -1.00669 0 79.4933 0 79.4933V194.993H1438.5V79.4933C1438.5 79.4933 1129 13.9933 728.5 6.49331Z" fill="url(#paint1_radial_2_4)"/>
        <defs>
        <linearGradient id="paint0_linear_2_4" x1="0" y1="95.0033" x2="1438.5" y2="95.0033" gradientUnits="userSpaceOnUse">
        <stop stop-color="#81366A"/>
        <stop offset="0.5" stop-color="#D71A1A"/>
        <stop offset="1" stop-color="#81366A"/>
        </linearGradient>
        <radialGradient id="paint1_radial_2_4" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(728.5 -69) rotate(-92.467) scale(220.705 593.992)">
        <stop stop-color="#5C7CE6"/>
        <stop offset="1"/>
        </radialGradient>
        </defs>
        </svg>
</div>
<div class="container">
    <h2 class="fs-3 text-white">Trending Now</h2>
    <div class="contents p-3 d-flex">
        @for(card of cards; track $index) {
            <div class="content">
                <app-card [card]="card"/>
            </div>
        }
    </div>
</div>